.mail-filter {
	flex-wrap: wrap;
	margin-inline: 2em;
	margin-bottom: 1em;
	gap: 2em;
}

.mail-filter > * {
	margin-bottom: 1em;
}

.mail-filter .input-container {
	width: 185px;
}

.mail-filter .search-input {
	font-family: open-sans;
	font-size: 1em;
	padding-block: 0.5em;
	padding-inline-start: 1.1em;
	line-height: 2.36;
	margin-inline-end: 2em;
	border-radius: 1.6em;
	outline: none;
	border: 1px solid var(--black);
	width: 100%;
	display: block;
}

.mail-filter .sort-dropdow {
	position: relative;
}

.mail-filter .sort-dropdown .drop-header {
	white-space: nowrap;
	cursor: pointer;
	padding: 1em;
	/* line-height: 2.143; */
	border-radius: 1.6em;
	border: 1px solid var(--black);
}

.mail-filter .sort-dropdown .dropdown-content {
	display: none;
	background-color: var(--off-white);
	border: 1px solid var(--black);
	border-radius: 1.6em;
}

.mail-filter .sort-dropdown:hover .dropdown-content {
	display: block;
	position: absolute;
	z-index: 10;
	transform: translateY(-26%);
}

.sort-dropdown .dropdown-content > * {
	cursor: pointer;
	width: 100%;
	text-align: center;
	padding: 0.5em 2.9em;
}

.sort-dropdown .dropdown-content > *:first-child {
	border-radius: 1.6em 1.6em 0 0;
}
.sort-dropdown .dropdown-content > *:last-child {
	border-radius: 0 0 1.6em 1.6em;
}

.sort-dropdown .dropdown-content > *:not(:last-child) {
	border-bottom: 1px solid var(--black);
}

.sort-dropdown .dropdown-content > *:hover {
	background-color: #b8aeae;
}
