.mail-compose {
	position: relative;
	max-width: 800px;
}

.mail-compose .back-btn {
	font-size: 1.4em;
	margin-bottom: 3em;
	padding-bottom: 1em;
	text-align: center;
	padding: 0;
	width: 2.2em;
	height: 2.2em;
	border: none;
	background-color: white;
	color: var(--icon-grey);
	border-radius: 50%;
	border: 5px solid transparent;
}

.mail-compose .back-btn:hover {
	color: var(--black);
	background-color: rgb(240 237 237);
}

.compose-form > *:not(:last-child) {
	font-family: open-sans;
	outline: none;
	border: none;
	margin-bottom: 1em;
}

.compose-form .compose-subject {
	font-size: 1.5em;
	margin-bottom: 2em;
	border-bottom: 1px solid #eceff1;
}

.compose-form .compose-to {
	font-size: 1em;
	margin-bottom: 2em;
	border-bottom: 1px solid #eceff1;
}

.compose-form textarea {
	resize: none;
}

.compose-form .compose-send {
	position: absolute;
	bottom: 0;
	left: 0;
	border-radius: 0.2em;
	padding: 0.5em 1em;
	font-family: open-sans-bold;
	font-size: 1em;
	color: white;
	background-color: #1a73e8;
	border: none;
}

.compose-form .compose-send:hover {
	cursor: pointer;
	background-color: #1d66c5;
}
