.side-bar {
	flex-direction: column;
}

.side-bar .compose-btn {
	align-self: center;
	font-size: 1em;
	padding: 1em;
	border-radius: 1.6em;
	border: 1px solid var(--black);
	background-color: var(--white);
	margin-bottom: 1em;
}

.side-bar div {
	display: flex;
	align-items: center;
	padding-inline-start: 2em;
	padding-block: 0.5em;
	border-radius: 0 1em 1em 0;
}

.side-bar div:hover {
	cursor: pointer;
	background-color: var(--off-white);
}

.side-bar div span {
	margin-inline-end: 1em;
}
