.mail-list {
	padding: 0 2em;
}

.mail-list li {
	border-top: 1px solid #e2e8ea;
}

.mail-list li:last-child {
	border-bottom: 1px solid #e2e8ea;
}

.star-icon-container {
	text-align: center;
}

.star-icon.fa-solid,
.star-icon.fa-solid:hover {
	color: #f2bc21;
}
