.side-bar {
	flex-direction: column;
}

.side-bar .compose-btn {
	align-self: center;
	font-size: 1em;
	font-family: open-sans-bold;
	padding: 1em;
	border-radius: 1.6em;
	border: 1px solid var(--black);
	background-color: var(--white);
	margin-bottom: 1em;
}

.side-bar .compose-btn:hover {
	color: var(--mail-red);
}

.side-bar div a {
	display: flex;
	align-items: center;
	padding-inline-start: 2em;
	padding-block: 0.5em;
	border-radius: 0 1em 1em 0;
	transition: all 0.2s;
}

.side-bar div a:link,
.side-bar div a:visited {
	text-decoration: none;
	color: var(--black);
}

.side-bar div a:hover {
	cursor: pointer;
	background-color: var(--off-white);
}

.side-bar div span {
	margin-inline-end: 1em;
}

.side-bar div a.router-link-active {
	font-family: open-sans-bold;
	color: var(--mail-red);
	background-color: #fce8e6;
}
