.filter-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding: 2em;
	gap: 2em;
}

.filter-container input {
	font-size: 1em;
	padding: 0.4em;
	border-radius: 0.6em;
	outline: none;
	border: 1px solid var(--icon-grey);
	background-color: var(--off-white);
}

.filter-container input[type='number'] {
	width: 3.5em;
	text-align: center;
}

.filter-container .reset-btn {
	width: fit-content;
	font-size: 0.9em;
	align-self: center;
	padding: 1em 1.5em;
	border: none;
	border-radius: 0.6em;
	font-weight: 700;
	text-decoration: none;
	background-color: #1b74e9;
	color: var(--white);
}
